<% 
const header = require('./layouts/basic/header.ejs'); 
const footer = require('./layouts/basic/footer.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <section class="intro section first-section-from-header">
        <div class="container">
            <div class="intro__wrapper pv-120">
                <h1 class="intro__title title-italic fs-display">Астория выездная ресторация&nbsp;&mdash; <span>это</span> кейтеринг, <span>который работает исключительно</span> в&nbsp;премиум сегменте</h1>
            </div>
        </div>
    </section>

    <section class="history section pb-120 pb-80-tablet pb-50-mob">
        <div class="container">
            <h2 class="title-dots fs-body-accent mb-60 mb-16-mob">История Астории</h2>
            <div class="history__row fs-heading">
                <div class="history__col">
                    <div class="history__item">
                        <p>Компания «Астория» была официально  зарегистрирована нами в качестве юридического лица 18 января 2016 года.</p>
                        <p>Однако наша деятельность  по организации питания мероприятий началась ещё в 2012 году, когда мы открыли небольшое арт-кафе «Астория» во Дворце на Яузе.</p>
                        <p>В начале работы наше арт-кафе было ориентировано только на посетителей спектаклей, которые проходили во Дворце на Яузе. Оно было открыто с 16:00 до 22:00 и позволяло нам проводить на работе не так много времени.</p>
                    </div>
                </div>
                <div class="history__col">
                    <div class="history__item">
                        <p>На первый взгляд, такой формат  работы казался нам очень удобным и давал возможность больше времени уделять личной жизни. Но вскоре мы осознали, что, несмотря на всю прелесть маленького и стабильного бизнеса, наше желание развиваться не позволяло нам просто наслаждаться жизнью. Нам хотелось большей активности.</p>
                        <p>Чтобы удовлетворить эту потребность, мы начали активно заполнять пространство нашего небольшого заведения</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="values section pv-120">
        <div class="container">
            <h2 class="title-dots fs-body-accent mb-16 mb-12-mob">Наши ценности</h2>
            <h3 class="title-italic fs-display mb-80 mb-24-mob">Репутацию нельзя купить, <br> её можно только заработать</h3>
            <div class="values__row">
                <div class="values__img item-response">
                    <img src="images/content/values.jpg" alt="">
                </div>
                <div class="values__body">
                    <div class="values__text fs-heading">
                        <p>Мы не можем доверить контроль за процессом оказания услуги наёмным специалистам. Если вы обратитесь в нашу компанию, то общаться будете не с менеджером проекта, а с нами лично. Конечно, некоторые функции мы передаём нашим ассистентам, но это лишь небольшие задачи</p>
                    </div>
                    <div class="values__list">
                        <div class="values__subtitle fs-heading">Чем мы гарантируем премиум-сервис для наших клиентов</div>
                        <ul>
                            <li>
                                <p>⁠Лично ведём переговоры на всех этапах</p>
                                <span class="values__num">1</span>
                            </li>
                            <li>
                                <p>Лично контролируем качество продуктов</p>
                                <span class="values__num">2</span>
                            </li>
                            <li>
                                <p>Лично утверждаем персонал</p>
                                <span class="values__num">3</span>
                            </li>
                            <li>
                                <p>Лично контролируем ход оказания услуги</p>
                                <span class="values__num">4</span>
                            </li>
                            <li>
                                <p>Ведём свою деятельность максимально прозрачно</p>
                                <span class="values__num">5</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team section pt-60 pb-40 pt-50-mob pb-60-mob js-tabs">
        <div class="container">
            <div class="team__row">
                <div class="team__images item-response">
                </div>
                <div class="team__body">
                    <h2 class="team__title title-dots fs-body-accent">Команда</h2>
                    <div class="team__list">
                        <div class="team__item">
                            <div data-tab="1" class="team__img item-response js-tabs-block _active">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="1" class="team__text js-tabs-trigger _active">
                                <span class="team__name">Мелешко Вячеслав Валерьевич</span>
                                <span class="team__role">Генеральный директор</span>
                            </button>
                        </div>
                        <div class="team__item">
                            <div data-tab="2" class="team__img item-response js-tabs-block">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="2" class="team__text js-tabs-trigger">
                                <span class="team__name">Мелешко Оксана Владимировна</span>
                                <span class="team__role">Исполнительный директор</span>
                            </button>
                        </div>
                        <div class="team__item">
                            <div data-tab="3" class="team__img item-response js-tabs-block">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="3" class="team__text js-tabs-trigger">
                                <span class="team__name">Прудников Алексей Андреевич</span>
                                <span class="team__role">Бренд-шеф</span>
                            </button>
                        </div>
                        <div class="team__item">
                            <div data-tab="4" class="team__img item-response js-tabs-block">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="4" class="team__text js-tabs-trigger">
                                <span class="team__name">Зыков Владимир Васильевич</span>
                                <span class="team__role">Финансовый директор</span>
                            </button>
                        </div>
                        <div class="team__item">
                            <div data-tab="5" class="team__img item-response js-tabs-block">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="5" class="team__text js-tabs-trigger">
                                <span class="team__name">Иванова Наталья</span>
                                <span class="team__role">Операционный директор</span>
                            </button>
                        </div>
                        <div class="team__item">
                            <div data-tab="6" class="team__img item-response js-tabs-block">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="6" class="team__text js-tabs-trigger">
                                <span class="team__name">Смирнова Наталья Викторовна</span>
                                <span class="team__role">Главный бухгалтер</span>
                            </button>
                        </div>
                        <div class="team__item">
                            <div data-tab="7" class="team__img item-response js-tabs-block">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="7" class="team__text js-tabs-trigger">
                                <span class="team__name">Ковальчук Вадим Павлович</span>
                                <span class="team__role">Креативный Директор</span>
                            </button>
                        </div>
                        <div class="team__item">
                            <div data-tab="8" class="team__img item-response js-tabs-block">
                                <img src="images/content/team-01.jpg" alt="">
                            </div>
                            <button type="button" data-tab="8" class="team__text js-tabs-trigger">
                                <span class="team__name">Ефимов Валентин</span>
                                <span class="team__role">Маркетинговый директор</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- footer() -%>
