<% 
const header = require('./layouts/basic/header.ejs'); 
const footer = require('./layouts/basic/footer.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <section class="blog section first-section-from-header pb-120 pb-60-mob">
        <div class="container">
            <div class="blog__row">
                <div class="blog__col">
                    <a href="#" class="blog__card">
                        <div class="blog__card-img item-response">
                            <img src="images/content/blog-card-big.jpg" alt="">
                        </div>
                        <div class="blog__card-body">
                            <div class="blog__card-title fs-heading fw-500">Вкус и стиль: организация премиальных событий на ВДНХ</div>
                            <p>Организация мероприятий на ВДНХ открывает массу возможностей для создания незабываемых событий. Наш выездной Площадки предлагает индивидуальные меню от бренд-шефа, что позволяет подчеркнуть уникальность каждого события. Профессиональная команда заботится о каждом аспекте, от декора до подачи блюд, обеспечивая высочайший уровень сервиса и комфорт для гостей.</p>
                        </div>
                    </a>
                </div>
                <div class="blog__col">
                    <div class="blog__list">
                        <a href="#" class="blog__list-item">
                            <div class="blog__list-title fs-heading fw-500">Как Создать Незабываемое Мероприятие: Советы от Экспертов</div>
                            <p>Узнайте, как наша команда организует впечатляющие события, начиная с идеи и заканчивая реализацией.</p>
                        </a>
                        <a href="#" class="blog__list-item">
                            <div class="blog__list-title fs-heading fw-500">Преимущества выездного Площадкиа для корпоративных мероприятий</div>
                            <p>Рассмотрим, как выездной Площадки может повысить престиж и продуктивность корпоративных ивентов.</p>
                        </a>
                        <a href="#" class="blog__list-item">
                            <div class="blog__list-title fs-heading fw-500">Эксклюзивные кейтеринг-меню от нашего бренд-шефа</div>
                            <p>Погрузитесь в мир эксклюзивных блюд, которые наш шеф-повар разрабатывает специально для вас.</p>
                        </a>
                        <a href="#" class="blog__list-item">
                            <div class="blog__list-title fs-heading fw-500">Идеальные локации для ваших мероприятий: ВДНХ и ипподром</div>
                            <p>Обзор лучших площадок для проведения мероприятий с выездным Площадкиом.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="other-blog section pb-60 pb-50-mob">
        <div class="container">
            <div class="other-blog__row">
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-01.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Тренды в кейтеринге для премиум-сегмента</div>
                        </div>
                    </a>
                </div>
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-02.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Истории успеха: как наши мероприятия помогли клиентам достичь целей</div>
                        </div>
                    </a>
                </div>
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-03.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Гастрономическое искусство: как мы создаем идеальные блюда</div>
                        </div>
                    </a>
                </div>
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-04.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Истории успеха: как наши мероприятия помогли клиентам достичь целей</div>
                        </div>
                    </a>
                </div>
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-01.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Тренды в кейтеринге для премиум-сегмента</div>
                        </div>
                    </a>
                </div>
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-02.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Истории успеха: как наши мероприятия помогли клиентам достичь целей</div>
                        </div>
                    </a>
                </div>
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-03.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Гастрономическое искусство: как мы создаем идеальные блюда</div>
                        </div>
                    </a>
                </div>
                <div class="other-blog__col">
                    <a href="#" class="card-other-blog">
                        <div class="card-other-blog__img item-response">
                            <img loading="lazy" src="images/content/card-other-blog-04.jpg" alt="">
                        </div>
                        <div class="card-other-blog__tags">
                            <div class="card-other-blog__tag">500 человек</div>
                            <div class="card-other-blog__tag">Свадебный банкет</div>
                        </div>
                        <div class="card-other-blog__body">
                            <div class="card-other-blog__title fs-heading fw-500">Истории успеха: как наши мероприятия помогли клиентам достичь целей</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%- footer() -%>
