<% 
const header = require('./layouts/basic/header.ejs'); 
const footer = require('./layouts/basic/footer.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <div class="page-back-section section first-section-from-header">
        <div class="container">
            <a href="#" class="page-back">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3536 4.14645C10.1583 3.95118 9.84171 3.95118 9.64645 4.14645L5.64645 8.14645C5.55268 8.24021 5.5 8.36739 5.5 8.5C5.5 8.63261 5.55268 8.75979 5.64645 8.85355L9.64645 12.8536C9.84171 13.0488 10.1583 13.0488 10.3536 12.8536C10.5488 12.6583 10.5488 12.3417 10.3536 12.1464L6.70711 8.5L10.3536 4.85355C10.5488 4.65829 10.5488 4.34171 10.3536 4.14645Z" fill="#121212"/>
                </svg>
                Назад
            </a>
        </div>
    </div>
    <div class="menu-template">
        <div class="container">
            <div class="menu-template__description">
                <div class="product-block">
                    <div class="product-block__image">
                        <div class="product-block__image-bx item-response">
                            <img src="images/content/catalog-card-big.png" alt="Рюмка для водки Эталон">
                        </div>
                    </div>

                    <div class="product-block__info">
                        <h1 class="product-block__title fs-display title-italic">
                            Рюмка для водки Эталон
                        </h1>

                        <div class="product-block__text">
                            Рюмка для подачи водки или ликеров на банкете
                        </div>

                        <div class="product-block__weight">
                            65 мл
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="title-dots fs-body-accent mb-24 mb-24-mob">Другая посуда</h2>

            <div class="catalog">
                <div class="catalog__wrapper">
                    <div class="catalog__row">
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-01.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">500 мл</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Декантер
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-02.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">305 мл 1/25</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Рокс Олд Фэшн «Даймонд» 
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-03.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">500 мл</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Декантер
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-04.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">500 мл</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Декантер
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-05.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">305 мл 1/25</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Рокс Олд Фэшн «Даймонд» 
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-01.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">500 мл</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Декантер
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-02.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">305 мл 1/25</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Рокс Олд Фэшн «Даймонд» 
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-03.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">500 мл</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Декантер
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__col">
                            <a href="#" class="card-catalog">
                                <div class="card-catalog__img">
                                    <div class="card-catalog__img-item item-response">
                                        <img loading="lazy" src="images/content/catalog-card-04.png" alt="Декантер">
                                    </div>
    
                                    <span class="card-catalog__weight">500 мл</span>  
                                </div>
    
                                <div class="card-catalog__body">
                                    <div class="card-catalog__name fs-heading fw-500">
                                        Декантер
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        

            <div class="menu-template__nav menu-template__nav--bottom js-nav-catalog">
                <div class="navigation-catalog swiper">
                    <div class="navigation-catalog__row swiper-wrapper">
                        <a href="#" class="navigation-catalog__item swiper-slide">
                            <div class="navigation-catalog__link">Все</div>
                        </a>

                        <a href="#" class="navigation-catalog__item swiper-slide">
                            <div class="navigation-catalog__link">Тарелки</div>
                        </a>

                        <a href="#" class="navigation-catalog__item swiper-slide">
                            <div class="navigation-catalog__link">Столовые приборы</div>
                        </a>

                        <a href="#" class="navigation-catalog__item swiper-slide">
                            <div class="navigation-catalog__link _active">Бокалы</div>
                        </a>

                        <a href="#" class="navigation-catalog__item swiper-slide">
                            <div class="navigation-catalog__link">Мини посуды</div>
                        </a>

                        <a href="#" class="navigation-catalog__item swiper-slide">
                            <div class="navigation-catalog__link">Посуда для чая</div>
                        </a>

                        <a href="#" class="navigation-catalog__item swiper-slide">
                            <div class="navigation-catalog__link">Фуршетные системы</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- footer() -%>
