<% 
const header = require('./layouts/basic/header.ejs'); 
const footer = require('./layouts/basic/footer.ejs'); 
const pag = require('./layouts/components/pagination-page.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <div class="section first-section-from-header">
        <div class="container">
            <a href="#" class="page-back">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3536 4.14645C10.1583 3.95118 9.84171 3.95118 9.64645 4.14645L5.64645 8.14645C5.55268 8.24021 5.5 8.36739 5.5 8.5C5.5 8.63261 5.55268 8.75979 5.64645 8.85355L9.64645 12.8536C9.84171 13.0488 10.1583 13.0488 10.3536 12.8536C10.5488 12.6583 10.5488 12.3417 10.3536 12.1464L6.70711 8.5L10.3536 4.85355C10.5488 4.65829 10.5488 4.34171 10.3536 4.14645Z" fill="#121212"/>
                </svg>
                Назад
            </a>
        </div>
    </div>

    <section class="banner section">
        <div class="container">
            <div class="banner__video item-response">
                <img src="images/content/banner-01.jpg" alt="">
            </div>
            <div class="banner__body text-center">
                <h1 class="title-italic fs-display mb-12 mb-8-mob">Банкет для официального приема</h1>
                <p>12 000 рублей на человека</p>
            </div>
        </div>
    </section>

    <section class="section pb-60">
        <div class="container">
            <div class="grid">
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-01.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Банкет для официального приема</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-02.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Фуршет для «Центр национальных конных традиций»</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-03.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Выездной банкет у реки</div>
                        <div class="card-grid__text">Выездной банкет у реки</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-04.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Выездной бар на Патриках</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-05.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Выездной welcome-drink</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="other-events section pv-60 js-slider-other-events">
        <div class="container">
            <div class="other-events__wrapper">
                <div class="other-events__head">
                    <h2 class="title-dots fs-body-accent mb-16 mb-12-mob">Похожие мероприятия</h2>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-01.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-02.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-03.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-04.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-01.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-02.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-03.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-events">
                                <div class="card-events__img item-response">
                                    <img loading="lazy" src="images/content/card-events-04.jpg" alt="">
                                </div>
                                <div class="card-events__body">
                                    <div class="card-events__title fs-heading mb-8">Выездной бар на Патриках</div>
                                    <div>12 000 рублей на человека</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="other-events__nav">
                    <button type="button" class="other-events__arrow js-btn-prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3536 5.64645C15.1583 5.45118 14.8417 5.45118 14.6464 5.64645L8.64645 11.6464C8.55268 11.7402 8.5 11.8674 8.5 12C8.5 12.1326 8.55268 12.2598 8.64645 12.3536L14.6464 18.3536C14.8417 18.5488 15.1583 18.5488 15.3536 18.3536C15.5488 18.1583 15.5488 17.8417 15.3536 17.6464L9.70711 12L15.3536 6.35355C15.5488 6.15829 15.5488 5.84171 15.3536 5.64645Z" fill="#121212"/>
                        </svg>
                    </button>
                    <button type="button" class="other-events__arrow js-btn-next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.64645 18.3536C8.84171 18.5488 9.15829 18.5488 9.35355 18.3536L15.3536 12.3536C15.4473 12.2598 15.5 12.1326 15.5 12C15.5 11.8674 15.4473 11.7402 15.3536 11.6464L9.35355 5.64645C9.15829 5.45118 8.84171 5.45118 8.64645 5.64645C8.45118 5.84171 8.45118 6.15829 8.64645 6.35355L14.2929 12L8.64645 17.6464C8.45118 17.8417 8.45118 18.1583 8.64645 18.3536Z" fill="#121212"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>

</main>
<%- footer() -%>
