<% 
const header = require('./layouts/basic/header-lock-short.ejs'); 
const footer = require('./layouts/basic/footer.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <section class="intro section first-section-from-header">
        <div class="container">
            <div class="intro__wrapper pv-120">
                <h1 class="intro__title title-italic fs-display">Астория выездная ресторация&nbsp;&mdash; <span>это</span> кейтеринг, <span>который работает исключительно</span> в&nbsp;премиум сегменте</h1>
                <div class="intro__links">
                    <div class="intro__quote">
                        <svg width="23" height="74" viewBox="0 0 23 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.0762 72.6105V74C17.6867 73.3913 14.112 71.5916 11.3522 68.6009C8.61859 65.6366 7.2518 62.3416 7.2518 58.7157C7.2518 56.8101 7.55407 54.6001 8.15861 52.0858C8.76315 49.5451 9.06542 47.5733 9.06542 46.1706C9.06542 44.265 8.26375 42.4918 6.6604 40.8509C5.08334 39.1835 2.8886 38.1645 0.0761719 37.794V36.1663C2.8886 35.7958 5.08334 34.7901 6.6604 33.1491C8.26375 31.5082 9.06542 29.7217 9.06542 27.7897C9.06542 26.387 8.76315 24.4285 8.15861 21.9142C7.55407 19.3999 7.2518 17.1767 7.2518 15.2446C7.2518 11.6452 8.61859 8.35014 11.3522 5.35944C14.112 2.36874 17.6867 0.58226 22.0762 0V1.38948C19.0009 2.13054 16.7404 3.348 15.2948 5.04185C13.8755 6.70923 13.1658 8.54864 13.1658 10.5601C13.1658 12.1216 13.4549 14.186 14.0332 16.7532C14.6377 19.294 14.94 21.4642 14.94 23.2639C14.94 25.9371 13.9675 28.5308 12.0224 31.0451C10.0774 33.5594 7.17295 35.5046 3.30915 36.8809C7.09409 38.2836 9.97223 40.2686 11.9436 42.8358C13.9412 45.4031 14.94 48.0232 14.94 50.6964C14.94 52.4961 14.6377 54.6663 14.0332 57.2071C13.4549 59.7743 13.1658 61.8387 13.1658 63.4002C13.1658 65.4117 13.8755 67.2511 15.2948 68.9184C16.7404 70.6123 19.0009 71.843 22.0762 72.6105Z" fill="#121212"/>
                        </svg>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Заказчикам</a>
                        </li>
                        <li>
                            <a href="#">Эксклюзивный формат мероприятия</a>
                        </li>
                        <li>
                            <a href="#">Площадкам</a>
                        </li>
                    </ul>
                    <div class="intro__quote">
                        <svg width="23" height="74" viewBox="0 0 23 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.152344 1.38948V0C4.54183 0.58226 8.10336 2.36874 10.8369 5.35944C13.5968 8.32368 14.9767 11.632 14.9767 15.2843C14.9767 17.1899 14.6744 19.3999 14.0699 21.9142C13.4654 24.4285 13.1631 26.387 13.1631 27.7897C13.1631 29.6953 13.9516 31.4818 15.5287 33.1491C17.132 34.7901 19.3399 35.7958 22.1523 36.1663V37.794C19.3399 38.1645 17.132 39.1835 15.5287 40.8509C13.9516 42.4918 13.1631 44.265 13.1631 46.1706C13.1631 47.5733 13.4654 49.5451 14.0699 52.0858C14.6744 54.6001 14.9767 56.8101 14.9767 58.7157C14.9767 62.3151 13.5968 65.6102 10.8369 68.6009C8.10336 71.5916 4.54183 73.3913 0.152344 74V72.6105C3.22761 71.843 5.47492 70.6255 6.89428 68.9582C8.33992 67.2908 9.06274 65.4381 9.06274 63.4002C9.06274 61.8387 8.76047 59.7743 8.15593 57.2071C7.55139 54.6663 7.24912 52.5093 7.24912 50.736C7.24912 48.0365 8.22164 45.4295 10.1667 42.9152C12.138 40.4009 15.0556 38.4557 18.9194 37.0794C15.1344 35.6767 12.2431 33.6917 10.2455 31.1245C8.24792 28.5572 7.24912 25.9371 7.24912 23.2639C7.24912 21.4642 7.55139 19.294 8.15593 16.7532C8.76047 14.186 9.06274 12.1216 9.06274 10.5601C9.06274 8.54864 8.33992 6.70923 6.89428 5.04185C5.47492 3.348 3.22761 2.13054 0.152344 1.38948Z" fill="#121212"/>
                        </svg>
                    </div>
                </div>
                <div class="intro__row">
                    <a href="#popup-request-tasting" data-fancybox="popup-request-tasting" class="btn btn--primary btn--full-mob js-popup-trigger">Записаться на дегустацию</a>
                    <div class="intro__socials">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/telegram-black.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/whatsapp-black.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/youtube-black.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="intro__banner item-response">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/content/intro-banner-mob.jpg">
                        <img src="images/content/intro-banner.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="section pv-120">
        <div class="container">
            <h2 class="title-dots fs-body-accent mb-16 mb-12-mob">Кто мы</h2>
            <h3 class="title-italic fs-display">Команда, <span>которая</span> создает уникальные гастрономические впечатления, <br class="hide-mob"> <span>сочетая традиции и современные подходы.</span> <br> Мы стремимся к совершенству , <br> <span>чтобы</span> каждый визит стал особенным</h3>
        </div>
    </section>

    <section class="section pv-120">
        <div class="container">
            <h2 class="title-dots fs-body-accent mb-80 mb-24-mob">Наши проекты</h2>
            <div class="grid">
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-01.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Банкет для официального приема</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-02.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Фуршет для «Центр национальных конных традиций»</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-03.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Выездной банкет у реки</div>
                        <div class="card-grid__text">Выездной банкет у реки</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-04.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Выездной бар на Патриках</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
                <div class="grid__col">
                    <a href="#" class="card-grid">
                        <div class="card-grid__img item-response">
                            <img loading="lazy" src="images/content/grid-05.jpg" alt="">
                        </div>
                        <div class="card-grid__title fs-heading fw-500">Выездной welcome-drink</div>
                        <div class="card-grid__text">12 000 рублей на человека</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="principles section pv-120">
        <div class="principles__bg">
            <picture>
                <source type="image/webp" media="(max-width: 767px)" srcset="images/content/principles-bg-mob.jpg">
                <img loading="lazy" src="images/content/principles-bg.jpg" alt="">
            </picture>
        </div>
        <div class="container">
            <div class="principles__wrapper bg-white"> 
                <h2 class="title-dots fs-body-accent mb-12">Наши принципы</h2>
                <h3 class="title-italic fs-display">Репутацию нельзя купить, <br> её можно только заработать</h3>
                <div class="principles__star">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 0C14.6479 9.57746 9.01408 14.3662 0 20C8.16901 25.6338 13.8028 29.0141 20 40C26.1972 29.0141 31.831 25.6338 40 20C30.8451 14.507 25.3521 9.57746 20 0Z" fill="#121212"/>
                    </svg>
                </div>
                <div class="principles__text fs-heading text-center">
                    <p>Мы не можем доверить контроль за процессом оказания услуги наёмным специалистам. Если вы обратитесь в нашу компанию, то общаться будете не с менеджером проекта, а с нами лично. Конечно, некоторые функции мы передаём нашим ассистентам, но это лишь небольшие задачи</p>
                </div>
            </div>
        </div>
    </section>

    <section class="partners section pv-120">
        <div class="container">
            <div class="mb-60">
                <h2 class="title-dots fs-body-accent mb-16 mb-12-mob">Партнёры</h2>
                <h3 class="fs-heading text-center">Являемся эксклюзивными операторами питания <br class="hide-mob"> для бизнеса и предприятий</h3>
            </div>
            <div class="btns btns--center mb-16 mb-40-mob">
                <a href="#popup-request" data-fancybox="popup-request" class="btn btn--primary btn--full-mob js-popup-trigger">Оставить заявку</a>
            </div>
            <div class="partners__logos">
                <a href="#" class="partners__logo item-response">
                    <img loading="lazy" src="images/content/partners-01.png" alt="">
                </a>
                <a href="#" class="partners__logo item-response">
                    <img loading="lazy" src="images/content/partners-02.png" alt="">
                </a>
                <a href="#" class="partners__logo item-response">
                    <img loading="lazy" src="images/content/partners-03.png" alt="">
                </a>
            </div>
        </div>
    </section>
</main>
<%- footer() -%>
