<% 
const header = require('./layouts/basic/header.ejs'); 
const footer = require('./layouts/basic/footer.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <section class="platform section first-section-from-header">
        <div class="container">
            <div class="platform__slider js-slider-platform">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-03.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-04.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-05.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-03.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-04.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-05.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-img img-response">
                                <img loading="lazy" src="images/content/platform-02.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="platform__row platform__row--text">
                <div class="platform__col">
                    <div class="platform__text">
                        <p>Если вы ищете надёжного оператора питания для вашей площадки, компания «Астория» - это единственно-верный выбор</p>
                    </div>
                </div>
                <div class="platform__col">
                    <div class="platform__text">
                        <p>В нашем лице вы выбираете надёжного партнёра, имеющего большой опыт сотрудничества со знаковыми театрами, концертными и ивент-площадками. Мы уверены, что наш опыт и наш подход к культуре питания полностью соответствует вашим высоким требованиям.</p>
                    </div>
                </div>
            </div>
            <div class="platform__row platform__row--btns">
                <div class="platform__col"></div>
                <div class="platform__col">
                    <div class="platform__btns">
                        <a href="#popup-request-tasting" data-fancybox="popup-request-tasting" class="btn btn--primary btn--full-mob js-popup-trigger">Записаться на дегустацию</a>
                    </div>
                </div>
            </div>
            <div class="platform__row platform__row--content">
                <div class="platform__col">
                    <div class="platform__title fs-heading">Мы гарантируем</div>
                </div>
                <div class="platform__col">
                    <div class="faq__items">
                        <div class="faq__item">
                            <div class="faq__trigger">
                                <div class="faq__trigger-text">
                                    Разнообразное питание для ваших сотрудников по льготным ценам
                                </div>
                                <div>
                                    1
                                </div>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__trigger">
                                <div class="faq__trigger-text">
                                    Продуманное меню для ваших гостей
                                </div>
                                <div>
                                    2
                                </div>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__trigger">
                                <div class="faq__trigger-text">
                                    Качество ингредиентов, используемых в производстве, имеют все сертификаты
                                </div>
                                <div>
                                    3
                                </div>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__trigger">
                                <div class="faq__trigger-text">
                                    Высокую квалификацию наших сотрудников
                                </div>
                                <div>
                                    4
                                </div>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__trigger">
                                <div class="faq__trigger-text">
                                    ⁠Положительные отзывы со стороны Ваших коллег
                                </div>
                                <div>
                                    5
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-platform section pt-120 pb-60 pt-50-mob pb-0-mob">
        <div class="container">
            <div class="banner-platform__row">
                <div class="banner-platform__col banner-platform__col--body">
                    <div class="banner-platform__body">
                        <div class="banner-platform__title title-italic fs-display mb-12">12 интеграций</div>
                        <p>У нас большой опыт в сотрудничестве. Обеспечиваем рост и масштабируемость под любые задачи.</p>
                    </div>
                </div>
                <div class="banner-platform__col">
                    <div class="banner-platform__body">
                        <div class="banner-platform__title title-italic fs-display mb-12">560 поваров</div>
                        <p>Строгий отбор и постоянное повышение квалификации поваров</p>
                    </div>
                </div>
            </div>
            <div class="banner-platform__img item-response">
                <img loading="lazy" src="images/content/banner-platform.jpg" alt="">
            </div>
            <div class="banner-platform__row">
                <div class="banner-platform__col"></div>
                <div class="banner-platform__col banner-platform__col--text">
                    <div class="banner-platform__text">В компании 10 000 сотрудников, что позволяет легко масштабироваться в зависимости от целей партнёров.</div>
                    <div class="banner-platform__text">Ваше спокойствие – наша задача: мы берем на себя всю ответственность за процесс.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners section pv-120">
        <div class="container">
            <div class="mb-60">
                <h2 class="title-dots fs-body-accent mb-16 mb-12-mob">С кем работаем</h2>
            </div>
            <div class="partners__logos">
                <a href="#" class="partners__logo">
                    <img loading="lazy" src="images/content/partners-01.png" alt="">
                </a>
                <a href="#" class="partners__logo">
                    <img loading="lazy" src="images/content/partners-02.png" alt="">
                </a>
                <a href="#" class="partners__logo">
                    <img loading="lazy" src="images/content/partners-03.png" alt="">
                </a>
            </div>
        </div>
    </section>
</main>
<%- footer() -%>
