<% 
const header = require('./layouts/basic/header.ejs'); 
const footer = require('./layouts/basic/footer.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <div class="first-section-from-header">
        <div class="container">
            <div class="menu-template">
                <div class="menu-template__nav js-nav-catalog">
                    <div class="navigation-catalog swiper">
                        <div class="navigation-catalog__row swiper-wrapper">
                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link _active">Все</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Закуски </div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Супы</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Горячие блюда</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Салаты</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Гарниры</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Сладкое</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Напитки</div>
                            </a>
                        </div>
                    </div>
                </div>

                <section class="page-back-section section">
                    <a href="#" class="page-back">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3536 4.14645C10.1583 3.95118 9.84171 3.95118 9.64645 4.14645L5.64645 8.14645C5.55268 8.24021 5.5 8.36739 5.5 8.5C5.5 8.63261 5.55268 8.75979 5.64645 8.85355L9.64645 12.8536C9.84171 13.0488 10.1583 13.0488 10.3536 12.8536C10.5488 12.6583 10.5488 12.3417 10.3536 12.1464L6.70711 8.5L10.3536 4.85355C10.5488 4.65829 10.5488 4.34171 10.3536 4.14645Z" fill="#121212"/>
                        </svg>
                        Назад
                    </a>
                </section>

                <div class="menu-template__description">
                    <div class="product-block">
                        <div class="product-block__image">
                            <div class="product-block__image-bx item-response">
                                <img src="images/content/menu-card-big.png" alt="Осьминог по-сицилийски">
                            </div>
                        </div>

                        <div class="product-block__info">
                            <h1 class="product-block__title fs-display title-italic">
                                Осьминог по-сицилийски
                            </h1>

                            <div class="product-block__text">
                                Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро)
                            </div>

                            <div class="product-block__weight">
                                210 гр
                            </div>

                            <div class="product-block__btns">
                                <a href="#popup-request-tasting" data-fancybox="popup-request-tasting" class="btn btn--primary js-popup-trigger">Записаться на дегустацию</a>
                                <a href="#popup-request" data-fancybox="popup-request" class="btn btn--border js-popup-trigger">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="title-dots fs-body-accent mb-40 mb-24-mob">Другие горячие блюда</h2>

                <div class="menu-template__row">
                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="menu-template__item">
                        <a href="#" class="menu-card">
                            <div class="menu-card__img">
                                <div class="menu-card__img-item item-response">
                                    <img loading="lazy" src="images/content/menu-card.png" alt="Осьминог по-сицилийски">
                                </div>

                                <span class="menu-card__weight">210 гр</span>  
                            </div>

                            <div class="menu-card__body">
                                <div class="menu-card__name fs-heading fw-500">
                                    Осьминог по-сицилийски
                                </div>

                                <div class="menu-card__desc four-strokes">
                                    Отварной осьминог, мини-картофель, сливочное масло, перец болгарский печеный, томаты черри, шпинат, масло зеленое базиликовое, соус ромеско (соус мутти, перец рамиро…
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="menu-template__nav menu-template__nav--bottom js-nav-catalog">
                    <div class="navigation-catalog swiper">
                        <div class="navigation-catalog__row swiper-wrapper">
                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Закуски </div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Супы</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Горячие блюда</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Салаты</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Гарниры</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Сладкое</div>
                            </a>

                            <a href="#" class="navigation-catalog__item swiper-slide">
                                <div class="navigation-catalog__link">Напитки</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- footer() -%>
