* {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html {
	font-family: sans-serif;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none; // иначе iphone начинает увеличивать шрифты
	text-rendering: optimizeLegibility;
	font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 1, 'tnum' 0,
		'onum' 0, 'lnum' 0, 'dlig' 0;
}

html,
body {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

input::-ms-clear {
	display: none;
}

input,
button,
textarea,
optgroup,
select {
	outline: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

textarea {
	resize: none;
}

button {
	background-color: transparent;
	text-align: left;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
select {
	text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

a {
	color: inherit;
	outline: 0;
	display: inline-block;
	list-style: none;
	list-style-type: none;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

b,
strong {
	font-weight: bold;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ul li {
	list-style: none;

}


img {
	vertical-align: top;
	max-width: 100%;
}
