/**
 * Variables
*/

/* Breakpoints */
$max399: 'max-width: 399px';
$max479: 'max-width: 479px';
$min480: 'min-width: 480px';
$max767: 'max-width: 767px';
$min768: 'min-width: 768px';
$max1023: 'max-width: 1023px';
$min1024: 'min-width: 1024px';
$max1279: 'max-width: 1279px';
$min1280: 'min-width: 1280px';
$max1439: 'max-width: 1439px';
$min1440: 'min-width: 1440px';
$max1919: 'max-width: 1919px';
$min1920: 'min-width: 1920px';
$hover: 'any-hover: hover';

// Fonts
$ff: 'Tilda Sans', sans-serif;
$ffSecond: 'Times New Roman', sans-serif;

/* Colour palette */
$black: #121212;
$blackHover: #262626;
$blackActive: #3A3A3A;
$white: #fff;
$whiteHover: #F5F5F5;
$whiteActive: #F0F0F0;
$primary: #7A2C1A;
$primaryHover: #A43B23;
$primaryActive: #692616;
$gray: #E6E6E6;
$grayHover: #DCDCDC;
$grayActive: #D2D2D2;
$grayOnDark: #888888;
$grayOnDarkBorder: #3D3D3D;
$brand: #F4DFC6;
$dangerOnDark: #EB4747;