    </main>

    <section class="request section bg-black c-white pv-120">
        <div class="container">
            <div class="request__row">
                <div class="request__col">
                    <div class="request__head">
                        <h2 class="fs-display mb-8 mb-4-mob">Оставьте заявку</h2>
                        <p>Мы перезвоним вам для обсуждения деталей</p>
                    </div>
                </div>
                <div class="request__col">
                    <form action="#" method="#" class="request__form form js-form">
                        <div class="form__body">
                            <div class="form__item">
                                <div class="field js-input">
                                    <div class="field__box">
                                        <input type="text" placeholder=" " class="field__input" data-required="text">
                                        <div class="field__placeholder">Имя</div>
                                        <div class="field__error-icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.39062 2.28626C7.08255 0.997804 8.93057 0.998467 9.62157 2.28742L14.7216 11.8007C15.3764 13.022 14.4916 14.5002 13.1058 14.5002H2.89692C1.51058 14.5002 0.625852 13.0209 1.28175 11.7995L6.39062 2.28626ZM8.74023 2.75991C8.42614 2.17402 7.58613 2.17372 7.27162 2.75938L2.16275 12.2726C1.86462 12.8278 2.26676 13.5002 2.89692 13.5002H13.1058C13.7357 13.5002 14.1379 12.8283 13.8403 12.2732L8.74023 2.75991ZM8.00013 5.50024C8.27628 5.50024 8.50013 5.7241 8.50013 6.00024V8.66691C8.50013 8.94305 8.27628 9.16691 8.00013 9.16691C7.72399 9.16691 7.50013 8.94305 7.50013 8.66691V6.00024C7.50013 5.7241 7.72399 5.50024 8.00013 5.50024ZM7.50013 11.3336C7.50013 11.0574 7.72399 10.8336 8.00013 10.8336H8.0068C8.28294 10.8336 8.5068 11.0574 8.5068 11.3336C8.5068 11.6097 8.28294 11.8336 8.0068 11.8336H8.00013C7.72399 11.8336 7.50013 11.6097 7.50013 11.3336Z" fill="#EB4747"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="field__error-text">
                                        Текст ошибки
                                    </div>
                                </div>
                            </div>
                            <div class="form__item js-switch-types">
                                <div class="form__item">
                                    <div class="field js-input">
                                        <div data-required="radio">
                                            <div class="title-radios">
                                                <div class="pt-12 mb-8">Как с вами связаться?</div>
                                                <div class="field__error-icon">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.39062 2.28626C7.08255 0.997804 8.93057 0.998467 9.62157 2.28742L14.7216 11.8007C15.3764 13.022 14.4916 14.5002 13.1058 14.5002H2.89692C1.51058 14.5002 0.625852 13.0209 1.28175 11.7995L6.39062 2.28626ZM8.74023 2.75991C8.42614 2.17402 7.58613 2.17372 7.27162 2.75938L2.16275 12.2726C1.86462 12.8278 2.26676 13.5002 2.89692 13.5002H13.1058C13.7357 13.5002 14.1379 12.8283 13.8403 12.2732L8.74023 2.75991ZM8.00013 5.50024C8.27628 5.50024 8.50013 5.7241 8.50013 6.00024V8.66691C8.50013 8.94305 8.27628 9.16691 8.00013 9.16691C7.72399 9.16691 7.50013 8.94305 7.50013 8.66691V6.00024C7.50013 5.7241 7.72399 5.50024 8.00013 5.50024ZM7.50013 11.3336C7.50013 11.0574 7.72399 10.8336 8.00013 10.8336H8.0068C8.28294 10.8336 8.5068 11.0574 8.5068 11.3336C8.5068 11.6097 8.28294 11.8336 8.0068 11.8336H8.00013C7.72399 11.8336 7.50013 11.6097 7.50013 11.3336Z" fill="#EB4747"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="radios">
                                                <div class="radios__row">
                                                    <label class="radio">
                                                        <input type="radio" name="footer-radio-1" data-switch-type="phone" class="radio__input" checked>
                                                        <span class="radio__body"></span>
                                                        <span class="radio__text">Телефон</span>
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="footer-radio-1" data-switch-type="whatsapp" class="radio__input">
                                                        <span class="radio__body"></span>
                                                        <span class="radio__text">WhatsApp</span>
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="footer-radio-1" data-switch-type="telegram" class="radio__input">
                                                        <span class="radio__body"></span>
                                                        <span class="radio__text">Telegram</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__item">
                                    <div class="form__box js-switch-types-box">
                                        <div data-switch-block="telegram" class="form__item">
                                            <div class="radios">
                                                <div class="radios__row">
                                                    <label class="radio">
                                                        <input type="radio" name="footer-radio-2" data-switch-type="telegram-tel" class="radio__input" checked>
                                                        <span class="radio__body"></span>
                                                        <span class="radio__text">Номер</span>
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="footer-radio-2" data-switch-type="telegram-name" class="radio__input">
                                                        <span class="radio__body"></span>
                                                        <span class="radio__text">Имя</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form__item">
                                            <div data-switch-block="telegram-tel" class="field js-input">
                                                <div class="field__box">
                                                    <input type="text" placeholder=" " class="field__input js-mask-phone" data-mask="+7 000 000 00 00" data-required="tel">
                                                    <div class="field__placeholder">Номер телефона</div>
                                                    <div class="field__error-icon">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.39062 2.28626C7.08255 0.997804 8.93057 0.998467 9.62157 2.28742L14.7216 11.8007C15.3764 13.022 14.4916 14.5002 13.1058 14.5002H2.89692C1.51058 14.5002 0.625852 13.0209 1.28175 11.7995L6.39062 2.28626ZM8.74023 2.75991C8.42614 2.17402 7.58613 2.17372 7.27162 2.75938L2.16275 12.2726C1.86462 12.8278 2.26676 13.5002 2.89692 13.5002H13.1058C13.7357 13.5002 14.1379 12.8283 13.8403 12.2732L8.74023 2.75991ZM8.00013 5.50024C8.27628 5.50024 8.50013 5.7241 8.50013 6.00024V8.66691C8.50013 8.94305 8.27628 9.16691 8.00013 9.16691C7.72399 9.16691 7.50013 8.94305 7.50013 8.66691V6.00024C7.50013 5.7241 7.72399 5.50024 8.00013 5.50024ZM7.50013 11.3336C7.50013 11.0574 7.72399 10.8336 8.00013 10.8336H8.0068C8.28294 10.8336 8.5068 11.0574 8.5068 11.3336C8.5068 11.6097 8.28294 11.8336 8.0068 11.8336H8.00013C7.72399 11.8336 7.50013 11.6097 7.50013 11.3336Z" fill="#EB4747"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="field__error-text">
                                                    Неверный номер
                                                </div>
                                            </div>
                                            <div data-switch-block="telegram-name" class="field js-input">
                                                <div class="field__box">
                                                    <input type="text" placeholder=" " class="field__input" data-required="text">
                                                    <div class="field__placeholder">Имя пользователя</div>
                                                    <div class="field__error-icon">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.39062 2.28626C7.08255 0.997804 8.93057 0.998467 9.62157 2.28742L14.7216 11.8007C15.3764 13.022 14.4916 14.5002 13.1058 14.5002H2.89692C1.51058 14.5002 0.625852 13.0209 1.28175 11.7995L6.39062 2.28626ZM8.74023 2.75991C8.42614 2.17402 7.58613 2.17372 7.27162 2.75938L2.16275 12.2726C1.86462 12.8278 2.26676 13.5002 2.89692 13.5002H13.1058C13.7357 13.5002 14.1379 12.8283 13.8403 12.2732L8.74023 2.75991ZM8.00013 5.50024C8.27628 5.50024 8.50013 5.7241 8.50013 6.00024V8.66691C8.50013 8.94305 8.27628 9.16691 8.00013 9.16691C7.72399 9.16691 7.50013 8.94305 7.50013 8.66691V6.00024C7.50013 5.7241 7.72399 5.50024 8.00013 5.50024ZM7.50013 11.3336C7.50013 11.0574 7.72399 10.8336 8.00013 10.8336H8.0068C8.28294 10.8336 8.5068 11.0574 8.5068 11.3336C8.5068 11.6097 8.28294 11.8336 8.0068 11.8336H8.00013C7.72399 11.8336 7.50013 11.6097 7.50013 11.3336Z" fill="#EB4747"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="field__error-text">
                                                    Текст ошибки
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__item">
                                <div class="field js-input">
                                    <div class="field__box">
                                        <input type="text" placeholder=" " data-input-toggle-required="date" class="field__input" data-required="text">
                                        <div class="field__placeholder">Дата мероприятия</div>
                                        <div class="field__error-icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.39062 2.28626C7.08255 0.997804 8.93057 0.998467 9.62157 2.28742L14.7216 11.8007C15.3764 13.022 14.4916 14.5002 13.1058 14.5002H2.89692C1.51058 14.5002 0.625852 13.0209 1.28175 11.7995L6.39062 2.28626ZM8.74023 2.75991C8.42614 2.17402 7.58613 2.17372 7.27162 2.75938L2.16275 12.2726C1.86462 12.8278 2.26676 13.5002 2.89692 13.5002H13.1058C13.7357 13.5002 14.1379 12.8283 13.8403 12.2732L8.74023 2.75991ZM8.00013 5.50024C8.27628 5.50024 8.50013 5.7241 8.50013 6.00024V8.66691C8.50013 8.94305 8.27628 9.16691 8.00013 9.16691C7.72399 9.16691 7.50013 8.94305 7.50013 8.66691V6.00024C7.50013 5.7241 7.72399 5.50024 8.00013 5.50024ZM7.50013 11.3336C7.50013 11.0574 7.72399 10.8336 8.00013 10.8336H8.0068C8.28294 10.8336 8.5068 11.0574 8.5068 11.3336C8.5068 11.6097 8.28294 11.8336 8.0068 11.8336H8.00013C7.72399 11.8336 7.50013 11.6097 7.50013 11.3336Z" fill="#EB4747"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="field__error-text">
                                        Текст ошибки
                                    </div>
                                </div>
                                <div class="mt-8">
                                    <label class="checkbox">
                                        <input type="checkbox" data-checkbox-toggle-required="date" class="checkbox__input">
                                        <span class="checkbox__body"></span>
                                        <span class="checkbox__text">Еще не определились</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form__item">
                                <div class="field js-input">
                                    <div data-required="radio">
                                        <div class="title-radios">
                                            <div class="pt-12 mb-8">Формат мероприятия</div>
                                            <div class="field__error-icon">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.39062 2.28626C7.08255 0.997804 8.93057 0.998467 9.62157 2.28742L14.7216 11.8007C15.3764 13.022 14.4916 14.5002 13.1058 14.5002H2.89692C1.51058 14.5002 0.625852 13.0209 1.28175 11.7995L6.39062 2.28626ZM8.74023 2.75991C8.42614 2.17402 7.58613 2.17372 7.27162 2.75938L2.16275 12.2726C1.86462 12.8278 2.26676 13.5002 2.89692 13.5002H13.1058C13.7357 13.5002 14.1379 12.8283 13.8403 12.2732L8.74023 2.75991ZM8.00013 5.50024C8.27628 5.50024 8.50013 5.7241 8.50013 6.00024V8.66691C8.50013 8.94305 8.27628 9.16691 8.00013 9.16691C7.72399 9.16691 7.50013 8.94305 7.50013 8.66691V6.00024C7.50013 5.7241 7.72399 5.50024 8.00013 5.50024ZM7.50013 11.3336C7.50013 11.0574 7.72399 10.8336 8.00013 10.8336H8.0068C8.28294 10.8336 8.5068 11.0574 8.5068 11.3336C8.5068 11.6097 8.28294 11.8336 8.0068 11.8336H8.00013C7.72399 11.8336 7.50013 11.6097 7.50013 11.3336Z" fill="#EB4747"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="radios">
                                            <div class="radios__row">
                                                <label class="radio">
                                                    <input type="radio" name="footer-radio-3" class="radio__input" checked>
                                                    <span class="radio__body"></span>
                                                    <span class="radio__text">Фуршет</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="footer-radio-3" class="radio__input">
                                                    <span class="radio__body"></span>
                                                    <span class="radio__text">Шведский стол</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="footer-radio-3" class="radio__input">
                                                    <span class="radio__body"></span>
                                                    <span class="radio__text">Банкет</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="footer-radio-3" class="radio__input">
                                                    <span class="radio__body"></span>
                                                    <span class="radio__text">Коктейл-пати</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__item">
                                <div class="field js-input">
                                    <div class="field__box">
                                        <input type="text" placeholder=" " data-input-toggle-required="guests" class="field__input" data-required="text">
                                        <div class="field__placeholder">Сколько будет гостей?</div>
                                        <div class="field__error-icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.39062 2.28626C7.08255 0.997804 8.93057 0.998467 9.62157 2.28742L14.7216 11.8007C15.3764 13.022 14.4916 14.5002 13.1058 14.5002H2.89692C1.51058 14.5002 0.625852 13.0209 1.28175 11.7995L6.39062 2.28626ZM8.74023 2.75991C8.42614 2.17402 7.58613 2.17372 7.27162 2.75938L2.16275 12.2726C1.86462 12.8278 2.26676 13.5002 2.89692 13.5002H13.1058C13.7357 13.5002 14.1379 12.8283 13.8403 12.2732L8.74023 2.75991ZM8.00013 5.50024C8.27628 5.50024 8.50013 5.7241 8.50013 6.00024V8.66691C8.50013 8.94305 8.27628 9.16691 8.00013 9.16691C7.72399 9.16691 7.50013 8.94305 7.50013 8.66691V6.00024C7.50013 5.7241 7.72399 5.50024 8.00013 5.50024ZM7.50013 11.3336C7.50013 11.0574 7.72399 10.8336 8.00013 10.8336H8.0068C8.28294 10.8336 8.5068 11.0574 8.5068 11.3336C8.5068 11.6097 8.28294 11.8336 8.0068 11.8336H8.00013C7.72399 11.8336 7.50013 11.6097 7.50013 11.3336Z" fill="#EB4747"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="field__error-text">
                                        Текст ошибки
                                    </div>
                                </div>
                                <div class="mt-8">
                                    <label class="checkbox">
                                        <input type="checkbox" data-checkbox-toggle-required="guests" class="checkbox__input">
                                        <span class="checkbox__body"></span>
                                        <span class="checkbox__text">Еще не определились</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form__error">
                                Чтобы отправить заявку, нужно заполнить все поля
                            </div>
                        </div>
                        <div class="form__bottom">
                            <input type="submit" class="btn btn--white btn--full" value="Отправить заявку"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-black c-white">
        <div class="container">
            <div class="footer__row">
                <div data-area="nav" class="footer__col">
                    <div class="footer__nav">
                        <ul>
                            <li>
                                <a href="#">О нас</a>
                            </li>
                            <li>
                                <a href="#">Мероприятия</a>
                            </li>
                            <li>
                                <a href="#">Меню</a>
                            </li>
                            <li>
                                <a href="#">Услуги</a>
                            </li>
                            <li>
                                <a href="#">Сервировка</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Заказчикам</a>
                            </li>
                            <li>
                                <a href="#">Эксклюзивный формат мероприятия</a>
                            </li>
                            <li>
                                <a href="#">Площадкам</a>
                            </li>
                            <li>
                                <a href="#">Площадкам</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-area="info" class="footer__col">
                    <div class="footer__info">
                        <p>ООО «Астория»</p>
                        <p>г. Москва, Проспект Мира, 119, 42 павильон</p>
                        <p>ОГРН 1167746068896</p>
                    </div>
                </div>
                <div data-area="contacts" class="footer__col">
                    <div class="footer__contacts">
                        <ul>
                            <li>
                                <a href="#">+7 (495) 066–72–92</a>
                            </li>
                            <li>
                                <a href="#">sale@astoriagroup.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-area="logo" class="footer__col">
                    <a href="#" class="footer__logo">
                        <img src="images/content/logo-footer.svg" alt="">
                    </a>
                </div>
                <div data-area="socials" class="footer__col">
                    <div class="footer__socials">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/telegram.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/whatsapp.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/youtube.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<% const popup = require('./popup.ejs'); %>
<%- popup() -%>
</body>
</html>