    </main>

    <section class="request section bg-black c-white pv-120">
        <div class="container">
            <div class="request__row">
                <div class="request__col">
                    <div class="request__head">
                        <h2 class="fs-display mb-8 mb-4-mob">Оставьте заявку</h2>
                        <p>Мы перезвоним вам для обсуждения деталей</p>
                    </div>
                </div>
                <div class="request__col">
                    <form action="#" method="#" class="request__form form js-form">
                        <div class="form__body">
                            <div class="form__item">
                                <div class="field js-input">
                                    <div class="field__box">
                                        <input type="text" placeholder=" " class="field__input" data-required="text">
                                        <div class="field__placeholder">Имя</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__item">
                                <div class="pt-12 mb-8">Как с вами связаться?</div>
                                <div class="radios">
                                    <div class="radios__row">
                                        <label class="radio">
                                            <input type="radio" name="request-contact-method" class="radio__input">
                                            <span class="radio__body"></span>
                                            <span class="radio__text">Телефон</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="request-contact-method" class="radio__input">
                                            <span class="radio__body"></span>
                                            <span class="radio__text">WhatsApp</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="request-contact-method" class="radio__input">
                                            <span class="radio__body"></span>
                                            <span class="radio__text">Telegram</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form__item">
                                <div class="field js-input">
                                    <div class="field__box">
                                        <input type="text" placeholder=" " class="field__input" data-required="text">
                                        <div class="field__placeholder">Дата мероприятия</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__item">
                                <div class="pt-12 mb-8">Формат мероприятия</div>
                                <div class="radios">
                                    <div class="radios__row">
                                        <label class="radio">
                                            <input type="radio" name="request-type" class="radio__input">
                                            <span class="radio__body"></span>
                                            <span class="radio__text">Фуршет</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="request-type" class="radio__input">
                                            <span class="radio__body"></span>
                                            <span class="radio__text">Шведский стол</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="request-type" class="radio__input">
                                            <span class="radio__body"></span>
                                            <span class="radio__text">Банкет</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="request-type" class="radio__input">
                                            <span class="radio__body"></span>
                                            <span class="radio__text">Коктейл-пати</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form__item">
                                <div class="field js-input">
                                    <div class="field__box">
                                        <input type="text" placeholder=" " class="field__input" data-required="text">
                                        <div class="field__placeholder">Сколько будет гостей?</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__bottom">
                            <input type="submit" class="btn btn--white btn--full" value="Отправить заявку"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-black c-white">
        <div class="container">
            <div class="footer__row">
                <div data-area="nav" class="footer__col">
                    <div class="footer__nav">
                        <ul>
                            <li>
                                <a href="#">О нас</a>
                            </li>
                            <li>
                                <a href="#">Мероприятия</a>
                            </li>
                            <li>
                                <a href="#">Меню</a>
                            </li>
                            <li>
                                <a href="#">Услуги</a>
                            </li>
                            <li>
                                <a href="#">Сервировка</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Заказчикам</a>
                            </li>
                            <li>
                                <a href="#">Эксклюзивный формат мероприятия</a>
                            </li>
                            <li>
                                <a href="#">Площадкам</a>
                            </li>
                            <li>
                                <a href="#">Площадкам</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-area="info" class="footer__col">
                    <div class="footer__info">
                        <p>ООО «Астория»</p>
                        <p>г. Москва, Проспект Мира, 119, 42 павильон</p>
                        <p>ОГРН 1167746068896</p>
                    </div>
                </div>
                <div data-area="contacts" class="footer__col">
                    <div class="footer__contacts">
                        <ul>
                            <li>
                                <a href="#">+7 (495) 066–72–92</a>
                            </li>
                            <li>
                                <a href="#">sale@astoriagroup.ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-area="logo" class="footer__col">
                    <a href="#" class="footer__logo">
                        <img src="images/content/logo-footer.svg" alt="">
                    </a>
                </div>
                <div data-area="socials" class="footer__col">
                    <div class="footer__socials">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/telegram.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/whatsapp.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/content/icons/youtube.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<% const popup = require('./popup.ejs'); %>
<%- popup() -%>
</body>
</html>