<div id="popup-request" class="request bg-black c-white popup js-popup">
    <button type="button" class="popup__close" onclick="window.popup.close()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.64645 5.64645C5.84171 5.45118 6.15829 5.45118 6.35355 5.64645L12 11.2929L17.6464 5.64645C17.8417 5.45118 18.1583 5.45118 18.3536 5.64645C18.5488 5.84171 18.5488 6.15829 18.3536 6.35355L12.7071 12L18.3536 17.6464C18.5488 17.8417 18.5488 18.1583 18.3536 18.3536C18.1583 18.5488 17.8417 18.5488 17.6464 18.3536L12 12.7071L6.35355 18.3536C6.15829 18.5488 5.84171 18.5488 5.64645 18.3536C5.45118 18.1583 5.45118 17.8417 5.64645 17.6464L11.2929 12L5.64645 6.35355C5.45118 6.15829 5.45118 5.84171 5.64645 5.64645Z" fill="white"/>
        </svg>
    </button>
    <form action="#" method="#" class="popup__wrapper request__form form js-form">
        <div class="popup__head">
            <h2 class="fs-display mb-8 mb-4-mob">Оставьте заявку</h2>
            <p>Мы перезвоним вам для обсуждения деталей</p>
        </div>
        <div class="popup__body">
            <div class="form__body">
                <div class="form__item">
                    <div class="field js-input">
                        <div class="field__box">
                            <input type="text" placeholder=" " class="field__input" data-required="text">
                            <div class="field__placeholder">Имя</div>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="pt-12 mb-8">Как с вами связаться?</div>
                    <div class="radios">
                        <div class="radios__row">
                            <label class="radio">
                                <input type="radio" name="popup-request-request-contact-method" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Телефон</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="popup-request-request-contact-method" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">WhatsApp</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="popup-request-request-contact-method" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Telegram</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="field js-input">
                        <div class="field__box">
                            <input type="text" placeholder=" " class="field__input" data-required="text">
                            <div class="field__placeholder">Дата мероприятия</div>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="pt-12 mb-8">Формат мероприятия</div>
                    <div class="radios">
                        <div class="radios__row">
                            <label class="radio">
                                <input type="radio" name="request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Фуршет</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Шведский стол</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Банкет</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Коктейл-пати</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="field js-input">
                        <div class="field__box">
                            <input type="text" placeholder=" " class="field__input" data-required="text">
                            <div class="field__placeholder">Сколько будет гостей?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup__bottom">
            <input type="submit" class="btn btn--white btn--full" value="Отправить заявку"></input>
        </div>
    </form>
</div>

<div id="popup-request-tasting" class="request bg-black c-white popup js-popup">
    <button type="button" class="popup__close" onclick="window.popup.close()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.64645 5.64645C5.84171 5.45118 6.15829 5.45118 6.35355 5.64645L12 11.2929L17.6464 5.64645C17.8417 5.45118 18.1583 5.45118 18.3536 5.64645C18.5488 5.84171 18.5488 6.15829 18.3536 6.35355L12.7071 12L18.3536 17.6464C18.5488 17.8417 18.5488 18.1583 18.3536 18.3536C18.1583 18.5488 17.8417 18.5488 17.6464 18.3536L12 12.7071L6.35355 18.3536C6.15829 18.5488 5.84171 18.5488 5.64645 18.3536C5.45118 18.1583 5.45118 17.8417 5.64645 17.6464L11.2929 12L5.64645 6.35355C5.45118 6.15829 5.45118 5.84171 5.64645 5.64645Z" fill="white"/>
        </svg>
    </button>
    <form action="#" method="#" class="popup__wrapper request__form form js-form">
        <div class="popup__head">
            <h2 class="fs-display mb-8 mb-4-mob">Заявка на дегустацию</h2>
            <p>Мы перезвоним вам для обсуждения деталей</p>
        </div>
        <div class="popup__body">
            <div class="form__body">
                <div class="form__item">
                    <div class="field js-input">
                        <div class="field__box">
                            <input type="text" placeholder=" " class="field__input" data-required="text">
                            <div class="field__placeholder">Имя</div>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="field js-input">
                        <div class="field__box">
                            <input type="text" placeholder=" " class="field__input" data-required="text">
                            <div class="field__placeholder">Название вашей организации</div>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="field">
                        <div class="field__box">
                            <input type="text" placeholder=" " class="field__input">
                            <div class="field__placeholder">Дата мероприятия</div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox__input">
                            <span class="checkbox__body"></span>
                            <span class="checkbox__text">Еще не определились</span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="field js-input">
                        <div class="field__box">
                            <input type="text" placeholder=" " class="field__input" data-required="text">
                            <div class="field__placeholder">Сколько будет гостей?</div>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="pt-12 mb-8">Формат мероприятия</div>
                    <div class="radios">
                        <div class="radios__row">
                            <label class="radio">
                                <input type="radio" name="popup-request-tasting-request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Фуршет</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="popup-request-tasting-request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Шведский стол</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="popup-request-tasting-request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Банкет</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="popup-request-tasting-request-type" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Коктейл-пати</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="pt-12 mb-8">Как с вами связаться?</div>
                    <div class="radios">
                        <div class="radios__row">
                            <label class="radio">
                                <input type="radio" name="popup-request-tasting-request-contact-method" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Телефон</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="popup-request-tasting-request-contact-method" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">WhatsApp</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="popup-request-tasting-request-contact-method" class="radio__input">
                                <span class="radio__body"></span>
                                <span class="radio__text">Telegram</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup__bottom">
            <input type="submit" class="btn btn--white btn--full" value="Записаться на дегустацию"></input>
        </div>
    </form>
</div>

