.form {
	&._error {
		.form__error {
			display: block;
		}
	}
	&__item {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__box {
		&.js-switch-types-box {
			&._active {
				padding: 12px;
				border: solid 1px $grayOnDarkBorder;
			}
		}
	}
	&__error {
		display: none;
		color: $dangerOnDark;
		margin-top: 24px;
	}
	&__bottom {
		margin-top: 24px;
	}
}
.field {
	&._error {
		.field {
			&__error-icon {
				opacity: 1;
			}
			&__error-text {
				display: block;
			}
		}
	}
	&__box {
		position: relative;
	}
	&__input {
		display: block;
		width: 100%;
		min-height: 48px;
		font-family: $ff;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		color: $white;
		background-color: transparent;
		padding-right: 26px;
		border-bottom: solid 1px $grayOnDarkBorder;
		transition: all 0.3s;

		@media ($max767) {
			font-size: 14px;
			line-height: 18px;
		}

		@media ($hover) {
			&:hover:not([disabled]) {
				border-color: $white;
			}
		}

		&[disabled] {
			color: rgba($white,0.5);
			~ .field__placeholder{
				opacity: 0.5;
			}
		}

		&:focus,
		&:not(:placeholder-shown) {
			~ .field__placeholder {
				top: -2px;
				transform: translate(0);
				font-size: 13px;
				color: $grayOnDark;
				@media ($max767) {
					font-size: 12px;
				}
			}
		}
	}
	&__placeholder {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		font-size: 16px;
		line-height: 1;
		color: $white;
		pointer-events: none;
		transition: all 0.3s;
		@media ($max767) {
			font-size: 14px;
		}
	}

	&__error-icon {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		z-index: 1;
		width: 16px;
		height: 16px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__error-text {
		display: none;
		font-size: 13px;
		line-height: 16px;
		color: $dangerOnDark;
		margin-top: 4px;
	}
}

.title-radios {
	position: relative;
	display: inline-flex;
	padding-right: 26px;
}

.radios {
	&__row {
		display: flex;
		margin-top: 1px;
		margin-left: 1px;
		@media ($max767) {
			flex-wrap: wrap;
		}
	}
}
.radio {
	flex: 1 1 auto;
	display: inline-flex;
	padding: 8px;
	margin-top: -1px;
	margin-left: -1px;
	border: solid 1px $grayOnDarkBorder;
	cursor: pointer;
	transition: all 0.3s;
	@media ($max767) {
		width: 100%;
	}
	@media ($hover) {
		&:hover {
			border-color: $white;
			z-index: 1;
		}
	}

	&__input {
		display: none;
		&:checked {
			~ .radio__body {
				&:before {
					opacity: 1;
				}
			}
		}
	}
	&__body {
		flex-shrink: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: $grayOnDarkBorder;
		margin-top: 2px;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 8px;
			height: 8px;
			background-color: $white;
			border-radius: 50%;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s;
		}
	}
	&__text {
		display: block;
		padding-left: 10px;
		color: $white;
		font-size: 16px;
		line-height: 20px;

		@media ($max767) {
			font-size: 14px;
			line-height: 18px;
		}
	}
}

.checkbox {
	display: inline-flex;
	cursor: pointer;
	transition: all 0.3s;
	&__input {
		display: none;
		&:checked {
			~ .checkbox__body {
				&:before {
					opacity: 1;
				}
			}
		}
	}
	&__body {
		flex-shrink: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: $grayOnDarkBorder;
		margin-top: 2px;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 8px;
			height: 8px;
			background-color: $white;
			border-radius: 50%;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s;
		}
	}
	&__text {
		display: block;
		padding-left: 10px;
		color: $white;
		font-size: 16px;
		line-height: 20px;

		@media ($max767) {
			font-size: 14px;
			line-height: 18px;
		}
	}
}
