.grid {
	display: grid;
	gap: 50px 0;
	grid-template-columns: repeat(26, 1fr);
	@media ($max1023) {
		gap: 24px 12px;
		grid-template-columns: repeat(2, 1fr);
	}
	&__col {
		&:nth-child(1),
		&:nth-child(11n + 1) {
			grid-column-start: 1;
			grid-column-end: 14;
			@media ($max1023) {
				grid-column-start: 1;
				grid-column-end: 2;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(400, 660);
				}
			}
		}
		&:nth-child(2),
		&:nth-child(11n + 2) {
			grid-column-start: 19;
			grid-column-end: 27;
			@media ($max1023) {
				grid-column-start: 2;
				grid-column-end: 3;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(414, 406);
				}
			}
		}
		&:nth-child(3),
		&:nth-child(11n + 3) {
			grid-column-start: 1;
			grid-column-end: 10;
			@media ($max1023) {
				grid-column-start: 1;
				grid-column-end: 2;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(475, 457);
				}
			}
		}
		&:nth-child(4),
		&:nth-child(11n + 4) {
			grid-column-start: 14;
			grid-column-end: 20;
			@media ($max1023) {
				grid-column-start: 2;
				grid-column-end: 3;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(299, 305);
				}
			}
		}
		&:nth-child(5),
		&:nth-child(11n + 5) {
			grid-column-start: 21;
			grid-column-end: 27;
			@media ($max1023) {
				grid-column-start: 1;
				grid-column-end: 2;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(299, 305);
				}
			}
		}
		&:nth-child(6),
		&:nth-child(11n + 6) {
			grid-column-start: 1;
			grid-column-end: 7;
			@media ($max1023) {
				grid-column-start: 2;
				grid-column-end: 3;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(299, 305);
				}
			}
		}
		&:nth-child(7),
		&:nth-child(11n + 7) {
			grid-column-start: 11;
			grid-column-end: 20;
			@media ($max1023) {
				grid-column-start: 1;
				grid-column-end: 2;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(475, 457);
				}
			}
		}
		&:nth-child(8),
		&:nth-child(11n + 8) {
			grid-column-start: 21;
			grid-column-end: 27;
			@media ($max1023) {
				grid-column-start: 2;
				grid-column-end: 3;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(299, 305);
				}
			}
		}
		&:nth-child(9),
		&:nth-child(11n + 9) {
			grid-column-start: 1;
			grid-column-end: 9;
			@media ($max1023) {
				grid-column-start: 1;
				grid-column-end: 2;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(414, 406);
				}
			}
		}
		&:nth-child(10),
		&:nth-child(11n + 10) {
			grid-column-start: 14;
			grid-column-end: 27;
			@media ($max1023) {
				grid-column-start: 2;
				grid-column-end: 3;
			}
			@media ($min1024) {
				.card-grid__img:before {
					padding-bottom: pct-s(400, 660);
				}
			}
		}
		&:nth-child(11),
		&:nth-child(11n + 11) {
			grid-column-start: 1;
			grid-column-end: 27;
			@media ($max1023) {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			.card-grid__img:before {
				padding-bottom: pct-s(613, 1320);
				@media ($max1023) {
					padding-bottom: pct-s(198, 328);
				}
			}
		}
	}
}
.card-grid {
	display: block;

	@media ($hover) {
		&:hover {
			.card-grid {
				&__img {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	&__img {
		margin-bottom: 16px;
		overflow: hidden;
		@media ($max1023) {
			position: relative;
			&:before {
				padding-bottom: pct-s(167, 158);
			}
		}
		img {
			object-fit: cover;
			transition: transform 0.3s;
		}
	}
	&__title {
		margin-bottom: 8px;
	}
}
