.platform {
    margin-top: 40px;
    @media ($max767) {
        margin-top: 12px;
    }
    &__row {
        display: flex;
        @media ($max767) {
            display: block;
        }
        &--text {
            margin-top: 12px;
            .platform__col {
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &--btns {
            margin-top: 60px;

            @media ($max767) {
                margin-top: 40px;
            }
        }
        &--content {
            margin-top: 80px;
            @media ($max767) {
                margin-top: 60px;
            }
        }
    }
    &__col {
        width: 50%;
        @media ($max767) {
            width: 100%;
        }
        &:first-child {
            padding-right: 24px;
            @media ($max767) {
                padding-right: 0;
            }
        }
    }
    &__slider {
        overflow: hidden;
        padding-right: 60px;
        padding-left: 60px;
        margin-right: -60px;
        margin-left: -60px;
        .swiper {
            overflow: visible;
        }
        .swiper-slide {
            width: 107px;
            margin-right: 3px;
            &:last-child {
                margin-right: 0;
            }
            @media ($max767) {
                width: 100px;
                margin-right: 4px;
            }
        }
    }
    &__slider-img {
        &:before {
            padding-bottom: pct-s(140, 107);
        }
    }
    &__text {
        max-width: 509px;
        @media ($max767) {
            max-width: 100%;
        }
    }
    &__btns {
    }
    &__title {
        @media ($max767) {
            margin-bottom: 12px;
        }
    }
}

.banner-platform {
    &__row {
        display: flex;

        @media ($max767) {
            display: block;
        }
    }

    &__col {
        width: 50%;

        @media ($max767) {
            width: 100%;
        }
        &:first-child {
            padding-right: 24px;
            @media ($max767) {
                padding-right: 0;
            }
        }
        &--body {
            @media ($max767) {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &--text {
            display: flex;
            @media ($max1279) {
                flex-shrink: 0;
                width: 75%;
            }
            @media ($max767) {
                display: block;
                width: 100%;
            }
            > * {
                width: 50%;
                @media ($max767) {
                    width: 100%;
                }
                &:first-child {
                    padding-right: 30px;
                    @media ($max767) {
                        padding-right: 0;
                        padding-bottom: 16px;
                    }
                }
            }
        }
    }

    &__body {
        max-width: 381px;
        @media ($max767) {
            max-width: 275px;
        }
    }

    &__title {
        text-align: left;
    }

    &__img {
        margin-top: 120px;
        margin-bottom: 12px;

        @media ($max767) {
            margin-top: 100px;
        }
        &:before {
            padding-bottom: pct-s(334, 1320);
            @media ($max767) {
                padding-bottom: pct-s(198, 328);
            }
        }
    }

    &__text {
        &:last-child {
            max-width: 231px;
            @media ($max1279) {
                max-width: 100%;
            }
        }
    }
}
