<div class="pag-page">
    <div class="pag-page__row">
        <div class="pag-page__item">
            <a href="#" class="pag-page__arrow">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.8525 16.0001L7.14754 10.0001L12.8525 4.00006" stroke="currentColor" stroke-width="2" stroke-linejoin="bevel"/>
                </svg>
            </a>
        </div>
        <div class="pag-page__item">
            <a href="#">1</a>
        </div>
        <div class="pag-page__item">
            <a href="#">...</a>
        </div>
        <div class="pag-page__item">
            <a href="#">48</a>
        </div>
        <div class="pag-page__item">
            <a href="#">49</a>
        </div>
        <div class="pag-page__item _current">
            <span>50</span>
        </div>
        <div class="pag-page__item">
            <a href="#">51</a>
        </div>
        <div class="pag-page__item">
            <a href="#">52</a>
        </div>
        <div class="pag-page__item">
            <a href="#">...</a>
        </div>
        <div class="pag-page__item">
            <a href="#">99</a>
        </div>
        <div class="pag-page__item">
            <a href="#" class="pag-page__arrow">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.14746 3.99994L12.8525 9.99994L7.14746 15.9999" stroke="currentColor" stroke-width="2" stroke-linejoin="bevel"/>
                </svg>
            </a>
        </div>
    </div>
</div>